* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
    font-family: 'Inter', sans-serif;
    color: #343a40;
    background-color: #fff9db;
    text-align: center;
    border-top: 8px solid #fcc419;
    border-bottom: 8px solid #fcc419;
    display: grid;
    grid-template-colums: 1fr;
    grid-template-rows: 1fr auto;
    align-items: center;
}

h1 {
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited {
    display: inline-block;
    background-color: #fcc419;
    color: #343a40;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 16px 16px;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    background-color: #ffd43b;
}
